@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";


.login {
    // Step - Color: Setup Back Ground Color
    // background-color: $mdc-theme-background;
    // color: $mdc-theme-on-background;
}

.logo {
    width: 150px;
    height: 150px;
}


.zipcode,
.age,
.household,
.income {
    // Step - Color: Setup Font Color
    // &:not(.mdc-text-field--invalid) {
    //   @include mdc-text-field-label-color(on-primary);
    // }
    // &.mdc-text-field--focused:not(.mdc-text-field--invalid)  {
    //   @include mdc-text-field-label-color(on-primary);
    // }

    display: block;
    margin: 20px auto;
    width: 300px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
}

.header {
    text-align: center;
}

.cancel {
    // Step - Color: Setup Button Color
    // @include mdc-button-ink-color(on-primary);
}

.submit {
    // Step - Color: Setup Button Color
    // @include mdc-button-container-fill-color(on-secondary);
    // @include mdc-button-ink-color(surface);
}
